router-outlet{
    /*position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;    */
}

nav{
    position: fixed;
    top: 5px;
    z-index: 1;
    left: 5px;
}

nav[hidden]{
    display: none;
}

nav a{
    background: #b1ffbe;
    text-decoration: none;
    border: 1px solid #288e7b;
    padding: 3px 6px;
    display: block;
    float: left;
    line-height: 20px;
    border-radius: 7px;
    margin-right: 6px;
}

nav a.active{
    display: none;
}